*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
overflow:hidden;
height:100vh;
user-select:none;
}

#desktop{
position:fixed;
width:100%;
height:100%;
background:url("wallpaper/wallpaper.jpg") center/cover no-repeat;
}

#windows{
position:absolute;
width:100%;
height:100%;
}

.window{
position:absolute;
background:white;
border:1px solid #333;
box-shadow:0 10px 25px rgba(0,0,0,.3);
resize:both;
overflow:hidden;
}

.titlebar{
height:32px;
background:#111;
color:white;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 10px;
cursor:move;
}

.window-controls span{
margin-left:10px;
cursor:pointer;
}

.window iframe{
width:100%;
height:calc(100% - 32px);
border:none;
}

#taskbar{
position:fixed;
bottom:0;
left:0;
height:40px;
width:100%;
background:#111;
display:flex;
align-items:center;
}

.taskbar-item{
width:32px;
height:32px;
margin:4px;
cursor:pointer;
}

.taskbar-item img{
width:100%;
height:100%;
}
