*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:sans-serif;
}

body{
height:100vh;
overflow:hidden;
user-select:none;
}

#desktop{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:url("wallpaper/wallpaper.jpg") center/cover no-repeat;
}

#windows{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
}

.window{
position:absolute;
background:white;
border:1px solid #444;
box-shadow:0 5px 15px rgba(0,0,0,.3);
resize:both;
overflow:hidden;
pointer-events:auto;
}

.titlebar{
height:30px;
background:#111;
color:white;
display:flex;
align-items:center;
padding:0 10px;
cursor:move;
}

.window iframe{
width:100%;
height:calc(100% - 30px);
border:none;
}

#taskbar{
position:fixed;
bottom:0;
left:0;
width:100%;
height:40px;
background:#111;
display:flex;
align-items:center;
padding:5px;
}

.taskbar-item{
width:32px;
height:32px;
margin:0 5px;
cursor:pointer;
}

.taskbar-item img{
width:100%;
height:100%;
}
